.list {
    padding: 42px;

    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    align-items: center;
    justify-content: center;
}

.item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #000000;
    width: calc((100% - 228px) / 6);
}

.img {
   
}

.text {}