.list {
    padding: 42px;

    display: flex;
    flex-direction: column;
    gap: 18px;
}

.item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #fff;
}

.link {
    color: #80619c;
}

.title {

}