.list {
    padding: 42px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
    
}

.item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #fff;
    width: calc((100% - 5px) / 6);
}

.link {
    color: #80619c;
}
