.header {
    height: 40px;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
}

.nav {
    padding-top: 10px;
    padding-left: 26px;
}

.list{
    display: flex;
    align-items: center;
    gap: 36px;
}
.item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #fff;
}

.link{
    color: inherit;
}